
body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    }

#header {
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

#header img {
    width:250px;
    border-radius:50%;
    margin:0 auto;
    filter: grayscale(100%);
    display:table
}

#nav {
    margin-left: 30%;
    margin-right: 30%;
    /*background: #8C8C8C;*/
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    /*display:table; */
    line-height: 1.5em;
    font-family: Sans-Serif;
    font-weight: bold;
}

#nav a:link, a:visited, a:active, a:hover  {
    color: black;
    /*background-color: transparent; */
    text-decoration: none;
    }

#nav table {
    font-family: arial, sans-serif;
    /*border-collapse: collapse;*/
    width: 100%;
}

#nav td, th {
    /* border: 1px solid #dddddd;*/
    text-align: center;
    width: 25%;
    /* padding: 8px;*/
}

main {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 100%;
}


a:link, a:visited, a:active, a:hover  {
    color: black; 
    text-decoration: underline;
}


#footer {
    margin-left: 30%;
    margin-right: 30%;
    clear: left;
    background: #ccc;
    text-align: center;
    padding: 4px 0;
}

#wrapper {
    overflow: hidden;
}
            
#content {
    margin-left: 30%;
    margin-right: 30%
}

.innertube {
    max-width: 1200px;
    margin: 15px; /* Padding for content */
    margin-top: 0;
    padding: 1em;
    line-height: 2em;
}


p, li {
    color: #555;
    text-align: justify;
}


